<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Nexora</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="header-lineal">
    <div class="left">
        <a asp-controller="Home" asp-action="Index" class="btn-home">🏠</a>
    </div>
    <div class="right">
        @if (Context.Session.GetString("UsuarioNombre") != null)
        {
            <span>Hola @Context.Session.GetString("UsuarioNombre")</span>
            <a asp-controller="Auth" asp-action="Logout" class="btn btn-warning">Cerrar sesión</a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Index" class="btn btn-success">Login</a>
        }
    </div>
</header>


    <main class="container">
        @RenderBody()
    </main>

    <footer>
        <p>&copy; 2026 - Nexora</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>